.login_box {
  display: flex;
  height: 70px;
  margin-right: 15px;
  z-index: 2;
  right: 0;
  top: 0;
}

.guest_name {
  margin-top: 13px;
  color: #a6adb7;
  font-family: Calibri;
  font-size: 100%;
  font-weight: bold;
}

.guest {
  color: white;
  font-family: Calibri;
  font-size: 140%;
  font-weight: bold;
}

.avatar {
  width: 50px;
  height: 50px;
  margin: 10px 0 0 10px;
  background: url('/assets/images/log_out_button.png') center;
  background-size: 102%;
  border-radius: 50%;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.avatar:hover {
  content: 'LOG OUT';
  cursor: pointer;
  transform: scale(1.05);
}
@media (max-width: 500px) {
  .login_box {
    margin-right: -3px;
  }
}
